* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
}

nav {
  height: 5%;
  background-color: antiquewhite;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 92.5%;
  background-color: black;
}

.principal-container {
  background-color: red;
  padding: 20px;
}

.principal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: green;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

.calculator-title {
  font-size: 50px;
}

.calculator-container {
  margin-bottom: 100px;
}

.calculator-content {
  display: flex;
  flex-direction: column;

  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.roman-numerals-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#roman1,
#roman2,
#operation {
  padding: 10px;
}

#roman1 {
  margin-right: 10px;
}

#roman2 {
  margin-left: 10px;
}

button {
  width: 10%;
  align-self: center;
  margin-bottom: 20px;
}

.result-box {
  background-color: blue;
  /* padding: 10px; */
}

footer {
  height: 2%;
  background-color: antiquewhite;
  text-align: center;
}
